* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

.nav li a {
    color: black;
    text-decoration: none;
    background-color: rgb(255);
    padding: 10px 15px;
    display: block;
}

ul,
ol {
    list-style: none;
}

.nav {
    color: black;
    font-size: 25px;
    position: absolute;
    margin-top: 390px;
    margin-left: 500px;
}

.nav li a:hover {
    background-color: #fff;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.imagen1 {
    height: 350px;
    width: 1366px;
    position: absolute;
}

.imagen2 {
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
}

.cuestionario {
    margin-top: 580px;
    position: absolute;
    align-items: center;
}

.page {
    margin-top: 600px;
    margin-left: 900px;
}