body {
    height: 1000px;
}

.titulo {
    margin-left: 650px;
    color: #fff;
    font-size: 70px;
}

.titulo1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.caja1 {
    margin-top: 600px;
    width: 700px;
    height: 400px;
    font-size: 20px;
}

.texto1 {
    text-align: justify;
    margin-left: 90px;
    font-size: 20px;
    margin-top: 90px;
}

.caja2 {
    position: absolute;
    margin-top: 600px;
    margin-left: 700px;
    height: 500px;
    width: 500px;
}

.img1 {
    position: absolute;
    height: 450px;
    width: 400px;
    margin-left: 70px;
}