* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

.nav li a {
    color: black;
    text-decoration: none;
    background-color: rgb(255);
    padding: 10px 15px;
    display: block;
}

ul,
ol {
    list-style: none;
}

.nav {
    color: black;
    font-size: 25px;
    position: absolute;
    margin-top: 390px;
    margin-left: 500px;
}

.nav li a:hover {
    background-color: #fff;
}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.imagen1 {
    height: 350px;
    width: 1366px;
    position: absolute;
}

.imagen2 {
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
}

.titulo {
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 550px;
    margin-top: 140px;
    font-size: 80px;
}

.caja1 {
    padding-left: 10px;
    height: 500px;
    margin-top: 550px;
    width: 1000px;
    height: 500px;
    background-color: white;
    position: absolute;
}

.caja2 {
    height: 300px;
    margin-top: 950px;
    width: 1366px;
    height: 400px;
    background-color: white;
    position: absolute;
}

.caja3 {
    max-height: 500px;
    margin-top: 1300px;
    width: 1366px;
    height: 300px;
    background-color: white;
    position: absolute;
}

.titulo2 {
    margin-left: 200px;
    color: black;
    position: absolute;
    margin-top: 50px;
    font-size: 40px;
}

.texto1 {
    margin-left: 110px;
    color: black;
    position: absolute;
    text-align: left;
    margin-top: 150px;
    font-size: 20px;
}

.titulo3 {
    margin-left: 290px;
    color: black;
    position: absolute;
    margin-top: 60px;
    font-size: 40px;
}

.texto2 {
    position: absolute;
    margin-left: 110px;
    color: black;
    position: absolute;
    text-align: left;
    margin-top: 150px;
    font-size: 20px;
}

.titulo4 {
    margin-left: 250px;
    color: black;
    position: absolute;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}

.texto3 {
    margin-left: 110px;
    color: black;
    position: absolute;
    text-align: left;
    margin-top: 110px;
    font-size: 20px;
}

footer {
    margin-top: 1750px;
    position: absolute;
    background-color: gray;
    float: right;
    height: 180px;
    width: 1366px;
}

.texto4 {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.cuadro {
    width: 400px;
    background-color: white;
    margin-left: 950px;
    position: absolute;
}

.page {
    position: absolute;
    height: 1366px;
    width: 700px;
    padding-left: 30px;
}