body{
    height: 1000px;
    background-color: white;  
}

.titulo{
    margin-left: 750px;
    color:#fff;
    font-size: 90px;
}
.titulo1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.caja1{

    width: 800px;
    height: 700px;
    font-size: 20px;
}
.texto1{
    padding-right: 30px;
   text-align: justify;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 50px;
}

.caja2{
    position: absolute;
    margin-top: 2px;
    margin-left: 800px;
  
    height: 500px;
    width: 500px;
}
.img1{
    margin-top: 100px;
    margin-left: 70px;
}

